*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 90px 20px 0px;
}

.header{
    background-color: #32859A;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.header .nav .logo img {
    width: 90%;
    height: 90%;
    display: flex;
}

/*menu*/
.nav {
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover {
    background-color: #3CA0B9;
    transition: 0.5s;
}

/*Boton para dipositivos moviles*/
.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

/*front*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 48px 32px
}

.container .title {
    font-size: 30px;
    color: #444;
    margin-bottom: 48px;
    text-transform: uppercase;
    text-align: center;
}

.container .uniforms-container {
    font-size: 56px;
    color: #444;
    margin-bottom: 48px;
    gap: 32px
}

.container .uniforms-container .uniform {
    text-align: center;
    padding: 48px 32px;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
    outline: 1.6px solid #ccc;
    outline-offset: -24px;
    cursor: pointer;
}

.container .uniforms-container .uniform:hover {
    outline: 3.2px solid #ccc;
    outline-offset: 0;
}

.container .uniforms-container .uniform img {
    height: 500px;
    width: 700px;
}
/*Pie de Pagina*/

.pie-pagina{
    background-color: #0a141d;
    width: 100%;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 100px;
}

.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box .what{
    color: white;
    margin-top: 10px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 0.03s ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

/*Diseño para moviles*/

@media (max-width: 768px){
    body{
        padding-top: 70px;
    }
    
    .header{
        height: 60px;
    }

    .header .nav .logo img {
        width: 25%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
        background: #2c3e50;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        /*scroll*/
        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    
    .nav-menu-item{
        line-height: 70px;
    }

    .nav-menu-link:hover{
        background: none;
        color: #3CA0B9;
    }

    /*Boton para dipositivos moviles*/
    .nav-toggle{
        display: block;
    }

    .nav-menu_visible{
        left: 0;
    }
    /*Pie de pagina*/
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}
