section {
    width: 100%;
    display: flex;
    justify-content: center;
}
.card {
    width: 400px;
    height: 500px;
    background: #e3d5ca;
    border-radius: 20px;
    overflow: hidden;
}
.card #portada {
    width: 100%;
    height: 40%;
    position: relative;
}
.card #perfil {
    width: 120px;
    height: 120px;
    border-radius: 250px;
    border: 2px solid white;
    position: relative;
    top: -70px;
    left: 135px;
}
.logos #ubi {
    width: 30px;
    height: 30px;
    position: relative;
    top: -147px;
    left: 50px;
}
.logos #email {
    width: 30px;
    height: 20px;
    position: relative;
    top: -152px;
    left: 209px;
}
.datos p:nth-child(1) {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: -90px;
}
.datos p:nth-child(2) {
    font-size: 13px;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    top: -95px;
}
.datos p:nth-child(3) {
    font-size: 13px;
    font-family: sans-serif;
    position: relative;
    top: -82px;
    left: 85px;
}
.datos p:nth-child(4) {
    font-size: 13px;
    font-family: sans-serif;
    position: relative;
    top: -111px;
    left: 280px;
}
.influence {
    width: 100%;
    height: 13%;
    display: flex;
    border: 1px solid #fff;
    margin-top: 0;
    background-color: #f5ebe0;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -125px;
}
.influence div{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.influence div p:nth-child(1){
    font-size: 1.5rem;
    position: relative;
    top: 25px;
}
.influence div p:nth-child(2){
    font-size: 1.5rem;
    position: relative;
    top: -30px;
}
.influence div:nth-child(2){
    border-left: 1px solid #fff;
}
.card button {
    width: 100%;
    height: 10%;
    background-color: #6399BB;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    border: 0;
    position: relative;
    top: -129px;
}
.card button {
    outline: none;
}